{% extends "/gj_base.html" %}
{% block title %} 文学作品列表 {% endblock %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cz_literature_style.css') }}">
{% endblock %}

{% block main %}

<div class="album py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for l in lit_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <a href="{{ url_for('literature.lit_detail_page', lid=l.literature_id, fname=l.literature_detail) }}">
                    <img class="bd-placeholder-img card-img-top" height="225" src="{{ url_for('static', filename=l.literature_pic) }}">
                    </a>
                    <div class="card-body">
                        <p class="card-text">{{l.literature_description}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btu-group">
                                <a href="{{ url_for('literature.lit_detail_page', lid=l.literature_id, fname=l.literature_detail) }}"
                                        class="btn btn-sm btn-outline-secondary">查看详情</a>
                            </div>
                            <small class="text-muted h5 fw-bolder">{{l.literature_publisher}}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}