{% extends "/gj_base.html" %}
{% block title %} {{history.history_name}} {% endblock %}
{% block main %}

{% if history %}

<!-- 影视作品·作品概览-->
<section class="mt-1">
    <div class="container pt-4">
        <div class="block-title-w">
            <h2 class="block-title">{{history.history_name}} · 建设简介</h2>
            <span class="icon-title">
                <span></span><img src="{{ url_for('static', filename='images/star.png') }}" width="30" height="30">
            </span>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <img class="img-fluid rounded" src="{{ url_for('static', filename=history.kwargs.history_pic) }}">
            </div>
            <div class="col-md-8 col-sm-6 col-xs-12">
                <h2 class="m-1 text-danger fw-bolder">{{history.history_name}}</h2>
                <div class="fs-4 m-2 fw-bold">
                    <span>负责人：{{history.kwargs.history_publisher}}</span>
                </div>
                <div class="fs-4 m-2 fw-bold">
                    <span>建设时间：{{history.kwargs.history_year}}</span>
                </div>
                <div class="fs-4 m-2 fw-bold">
                    <span>所属地区：{{history.kwargs.history_origin}}</span>
                </div>

                <div class="fs-4 m-2 fw-normal">
                    <span>类型：{{history.kwargs.history_catg}}</span>
                    <span class="px-5">车道规模：{{history.kwargs.history_language}}</span>
                </div>
                <div class="fs-4 m-2 fw-normal">
                    <span>长度：{{history.kwargs.history_first_play_time}}</span>
                    <span class="px-5">宽度：{{history.kwargs.history_sets_num}}</span>
                </div>
                <h4 class="mt-4">建设历程：{{history.kwargs.history_description}}</h4>
            </div>
        </div>
    </div>
</section>

<!-- 影视作品·精彩剧照-->
<section class="mt-1 py-4 bg-cz">
    <div class="container">
        <div class="block-title-w">
            <h2 class="block-title">{{history.history_name}} · 精彩剧照</h2>
            <span class="icon-title">
                <span></span>
                <img src="{{ url_for('static', filename='images/star.png') }}" width="30" height="30">
            </span>
        </div>
        <div class="row row-wrap">
            {% for pic in history.kwargs.history_album %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 item">
                <div class="inner mb-3">
                    <img src="{{ url_for('static', filename=pic) }}" class="img-fluid rounded" alt="精彩剧照"/>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- 影视作品·剧情介绍-->
<section class="mt-1 bg-army">
    <div class="container py-4">
        <div class="row">
            <div class="block-title-w">
                <h2 class="block-title">{{history.history_name}} · 设备设施</h2>
                <span class="icon-title">
                    <span></span>
                    <img src="{{ url_for('static', filename='images/star.png') }}" width="30" height="30">
                </span>
            </div>
            <div class="row">
                {% for story in history.kwargs.history_sets_story %}
                <div class="col-6 col-xs-12 mb-2 p-1">
                    <div class="p-1 h-100 bg-light rounded-3">
                        <div class="fw-bold fs-4 mt-2 text-danger ps-2">
                            <i class="bi bi-camera-history-fill"></i> {{ story.title }}
                        </div>
                        <img class="rounded" width="50%" src="{{ url_for('static', filename=story.image[0]) }}"/>
                        <div class="cz-loss-decs p-2">
                            <a href="{{ story.resourceUrl }}"><p>{{ story.description }}</p></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<!-- 影视作品·参考网址-->
<section class="mt-1 bg-cz">
    <div class="container py-4">
        <div class="block-title-w">
            <h2 class="block-title">{{history.history_name}} · 参考网址</h2>
            <span class="icon-title">
                <span></span>
                <img src="{{ url_for('static', filename='images/star.png') }}" width="30" height="30">
            </span>
        </div>
        <div class="bg-light">
            {% for ref in history.kwargs.history_references %}
            <div class="sub-title fw-bold fs-4 p-3 rounded-4 mb-1">{{loop.index}}. {{ ref }}</div>
            {% endfor %}
        </div>
    </div>
</section>

<!--影视作品·剧情评论-->
<section class="mt-1 bg-army">
    <div class="container py-4">
            <div class="block-title-w">
                <h2 class="block-title">{{history.history_name}} · 价值意义</h2>
                <span class="icon-title"><span></span>
                <img src="{{ url_for('static', filename='images/star.png') }}" width="30" height="30"></span>
            </div>
            <div class="fs-4 m-2 fw-bold">
                <h4 class="mt-4">{{history.kwargs.historycomments}}</h4>
            </div>
    </div>

</section>
{% else %}
    <h2 class="text-center m-5 p-5">对不起，你要查看的影视作品详情信息暂未收录...</h2>
{% endif %}

{% endblock %}